body {
	background-color: #f8f8f8;
}

.questionmark {
	background:url(questionmark.jpg)top left no-repeat;
	padding: 2em;
	width: 55px;
}

.tooltip {
	display: block;
	position:absolute;
	top: 400px;
	left:55px;
	top:0;
	display:none;
	width:125px;
	border:1px solid #ffffff;
	background-color:#eeeeee;
	color: #ffffff;
	padding: 10px 10px 30px 35px;
	background:url(tooltipbg.gif) top left no-repeat;
	font:0.65em Arial, Helvetica, sans-serif;
}

.sectionlabel {
	padding: 0 2em 0 2em;
}

#calculate {
padding: 1em;
margin-top: 0.75em;
}
